body{
    background: linear-gradient(0deg, #a69797 0%, #ffffff 100%);
}
section>div>.foto-1{
    display:flexbox;
    width: 30em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    float:left;
}
.nachalo{
    margin-top: 5em;
}
.nachalo-1{
    margin-top: 2em;
    padding: 1em;
    font-size: 1.2em;
}
.img-nav1{
   width: 60%;
   border-radius: 8px;
   outline: 2px solid #616161;}

.spisok{
    margin-bottom: 8em;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);

}
a:hover{
    text-decoration: underline;
    color:#373737
}
.nachalo-1>h1{
    font-size: 2.4em;
   margin-bottom: 2em;
}
.foto-2{
    display:flexbox;
    width: 10em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    float:right;
}
.foto-3{
    display:flexbox;

    width: 30em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    float:right;
}
